h1 {
    color: #0066ff;
    margin-left: 25px;
    margin-right: 25px;
}

h2 {
    color: grey;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
}

p {
    margin-left: 25px;
    margin-right: 25px;
}

footer {
  background-color: #ada397;
}


img {
    width: 800px;
    margin-left: 25px;
    margin-top: 25px;
}


