{% extends 'layout.html' %}
{% block content %}
<h1>{{ ueberschrift }}</h1>

<p>
    Diese App wurde im Rahmen der Semesterarbeit für das Modul Programmieren 2 des Studiengangs Digital Business
    Management an der Fachhochschule Graubünden programmiert.<br><br>Das Ziel ist es, eine Web-Applikation
    zu programmieren, die Daten aufnimmt, diese verarbeitet und schlussendlich wieder ausgibt. Die vorliegende
    Web-App soll den Gästen vom Restaurant Hirschen die Möglichkeit geben, ihre bestellten Speisen zu bewerten.
    Diese Bewertung wiederum dient dem Wirt des Restaurants, seine Leistung stetig zu verbessern und seine Gäste
    zufriedenzustellen.<br><br>Das Programm wurde geschrieben von:<br>Simone Kühne<br>Morgartenstrasse 1<br>6315 Oberägeri
</p>



{% endblock  %}