<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
</head>
<body>
    <form method="post">
        <h4>Was hatten Sie zur Vorspeise?</h4>
        <input type="text" name="bewertungseingabe" placeholder="Bitte eingeben">
        <br>
        <h4>Wie bewerten Sie Ihre Vorspeise?</h4>
        <a>1= sehr schlecht</a>
        <br>
        <a>5 = sehr gut</a>
        <br>
        <input type="range" name="sterne" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        <button type="submit">Bewertung speichern</button>
    </form>

</body>
</html>