<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
</head>
<body>
    <form method="post">
        #Bewertung Vorspeise
        <h4>Was hatten Sie zur Vorspeise?</h4>
        <input type="text" name="eingabe_vorspeise" placeholder="Bitte eingeben">
        <br>
        <h5>Wie bewerten Sie das Aussehen der Vorspeise?</h5>
        <a>1 = sehr schlecht</a>
        <br>
        <a>5 = sehr gut</a>
        <br>
        <input type="range" name="sterne_aussehen_vorspeise" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        <h5>Wie bewerten Sie den Geschmack der Vorspeise?</h5>
        <a>1 = sehr schlecht</a>
        <br>
        <a>5 = sehr gut</a>
        <br>
        <input type="range" name="sterne_geschmack_vorspeise" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        <h5>Wie bewerten Sie die Menge der Vorspeise?</h5>
        <a>1 = viel zu wenig</a>
        <br>
        <a>3 = genau richtig</a>
        <br>
        <a>5 = viel zu viel</a>
        <br>
        <input type="range" name="sterne_menge_vorspeise" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        #Bewertung Hauptspeise
        <h4>Was hatten Sie zur Hauptspeise?</h4>
        <input type="text" name="eingabe_hauptspeise" placeholder="Bitte eingeben">
        <br>
        <h5>Wie bewerten Sie das Aussehen der Hauptspeise?</h5>
        <a>1 = sehr schlecht</a>
        <br>
        <a>5 = sehr gut</a>
        <br>
        <input type="range" name="sterne_aussehen_hauptspeise" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        <h5>Wie bewerten Sie den Geschmack der Hauptspeise?</h5>
        <a>1 = sehr schlecht</a>
        <br>
        <a>5 = sehr gut</a>
        <br>
        <input type="range" name="sterne_geschmack_hauptspeise" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        <h5>Wie bewerten Sie die Menge der Hauptspeise?</h5>
        <a>1 = viel zu wenig</a>
        <br>
        <a>3 = genau richtig</a>
        <br>
        <a>5 = viel zu viel</a>
        <br>
        <input type="range" name="sterne_menge_hauptspeise" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        #Bewertung Dessert
        <h4>Was hatten Sie zum Dessert?</h4>
        <input type="text" name="eingabe_dessert" placeholder="Bitte eingeben">
        <br>
        <h5>Wie bewerten Sie das Aussehen des Desserts?</h5>
        <a>1 = sehr schlecht</a>
        <br>
        <a>5 = sehr gut</a>
        <br>
        <input type="range" name="sterne_aussehen_dessert" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        <h5>Wie bewerten Sie den Geschmack des Desserts?</h5>
        <a>1 = sehr schlecht</a>
        <br>
        <a>5 = sehr gut</a>
        <br>
        <input type="range" name="sterne_geschmack_dessert" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        <h5>Wie bewerten Sie die Menge des Desserts?</h5>
        <a>1 = viel zu wenig</a>
        <br>
        <a>3 = genau richtig</a>
        <br>
        <a>5 = viel zu viel</a>
        <br>
        <input type="range" name="sterne_menge_dessert" min="1" max="5">
        <br>
        <a>1 --- 2 --- 3 --- 4 --- 5</a>
        <br>
        <br>
        <button type="submit">Bewertung speichern</button>
    </form>

</body>
</html>