<!-- Basic Layout File -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ app_name }}</title>
    <!-- Embed Bootstrap and CSS in HTML -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- insert meta tags -->
    <meta charset="UTF-8">
    <meta name="author" content="Simone Kühne"/>
    <meta name="description" content="Bewertungs-Website">
    <meta name="keywords" content="Bewertung,Restaurant,DBM,FHGR">
    <meta name="date" content="11.11.2020">

</head>
<body>
<header>
    <!-- Navigation -->
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eingabe">Eingabe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/liste">Liste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/statistik">Statistik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- insert Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


<!-- Footer -->
<footer class="fixed-bottom py-1">
    <div class="container text-center">
      Simone Kühne | PRO2 | DBM19VZ | 2021
    </div>
</footer>

{% block content %} {% endblock %}
</body>
</html>


