<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ app_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">

    <meta charset="UTF-8">
    <meta name="author" content="Simone Kühne"/>
    <meta name="description" content="Bewertungs-Website">
    <meta name="keywords" content="Bewertung,Restaurant,DBM,FHGR">
    <meta name="date" content="11.11.2020">

</head>
<body>
<header>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/eingabe">Eingabe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/restaurant">Restaurant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/liste">Liste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/statistik">Statistik</a>
      </li>
    </ul>
  </div>
</div>
</header>
{% block content %} {% endblock %}
</body>
</html>


