{% extends 'layout.html' %}
{% block content %}
<h1>{{ ueberschrift }}</h1>
<p>{{ einleitung }}</p>

{% for eintrag in daten %}
<p>
    Vorspeise: {{ eintrag['vorspeise'] }} Sterne <br>
    Aussehen: {{eintrag['aussehen_vorspeise']}} Sterne<br>
    Menge: {{eintrag['menge vorspeise']}} Sterne <br>
    Geschmack: {{eintrag['geschmack vorspeise']}} Sterne <br><br>

    Hauptspeise: {{eintrag['hauptspeise']}} Sterne <br>
    Aussehen: {{eintrag['aussehen hauptspeise']}} Sterne<br>
    Menge: {{eintrag['menge hauptspeise']}} Sterne <br>
    Geschmack: {{eintrag['geschmack hauptspeise']}} Sterne <br><br>

    Dessert: {{eintrag['dessert']}} Sterne <br>
    Aussehen: {{eintrag['aussehen dessert']}} Sterne<br>
    Menge: {{eintrag['menge dessert']}} Sterne <br>
    Geschmack: {{eintrag['geschmack dessert']}} Sterne <br><br>

    Anmerkungen: {{ eintrag['anmerkungen'] }} <br><br>
</p>
<hr>
{% endfor %}

{% endblock %}