{% extends 'layout.html' %}
{% block content %}
<h1>{{ ueberschrift }}</h1>
<p>{{ einleitung }}</p>


<a class="btn btn-outline-dark" href="{{ url_for('eingabe_request') }}" role="button">Jetzt Bewertung abgeben</a>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


<div class="card-footer text-muted">
    Simone Kühne | PRO2 | DBM19VZ | 2020
</div>

{% endblock %}



