<!-- insert general layout -->
{% extends 'layout.html' %}

{% block content %}

<!-- insert plotly.js CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<h1>{{ ueberschrift }}</h1>
<p>{{ einleitung }}</p>

<h2>Vorspeisen</h2>
<div class="chart" id="vorspeisen_diagramm_container">
    <!-- Load Plotly library and plot diagram -->
    <script>
       Plotly.plot('vorspeisen_diagramm_container',{{vorspeisen_diagramm | safe}},{});

    </script>
</div>

<h2>Hauptspeisen</h2>
<div class="chart" id="hauptspeise_diagramm_container">
    <!-- Load Plotly library and plot diagram -->
    <script>
       Plotly.plot('hauptspeise_diagramm_container',{{hauptspeise_diagramm | safe}},{});

    </script>
</div>

<h2>Desserts</h2>
<div class="chart" id="dessert_diagramm_container">
    <!-- Load Plotly library and plot diagram -->
    <script>
       Plotly.plot('dessert_diagramm_container',{{dessert_diagramm | safe}},{});

    </script>
</div>

{% endblock %}